In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name": ["rishi", "siya", "kishan", "prince", "rajeev", "prem"],
    "marks": [100, 99, 90, 80, 70, 60],
    "city": ["delhi", "delhi", "pune", "kolkata", "agra", "lucknow"] 
}

In [3]:
dict1

{'name': ['rishi', 'siya', 'kishan', 'prince', 'rajeev', 'prem'],
 'marks': [100, 99, 90, 80, 70, 60],
 'city': ['delhi', 'delhi', 'pune', 'kolkata', 'agra', 'lucknow']}

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

     name  marks     city
0   rishi    100    delhi
1    siya     99    delhi
2  kishan     90     pune
3  prince     80  kolkata
4  rajeev     70     agra
5    prem     60  lucknow

### To convert a dataframe into csv

In [6]:
df.to_csv("friends.csv")

In [7]:
df.to_csv("friends_without_index.csv", index = False)

### To see x rows from the start/end

In [8]:
df.tail(2)

     name  marks     city
4  rajeev     70     agra
5    prem     60  lucknow

In [9]:
df.head(2)

    name  marks   city
0  rishi    100  delhi
1   siya     99  delhi

### For a basic statistical analysis of the numeric columns in our data frame

In [10]:
df.describe()

            marks
count    6.000000
mean    83.166667
std     16.129683
min     60.000000
25%     72.500000
50%     85.000000
75%     96.750000
max    100.000000

In [11]:
# tells info about the dataframe
newdf2.info()

NameError: name 'newdf2' is not defined

### Importing a CSV into pandas

In [ ]:
trains = pd.read_csv("demo_trains.csv")

In [ ]:
trains

### Note: We can change the values thorught direct assignment but it fails in some cases therefore don't use this

In [ ]:
trains['Speed'][0] = 92

In [ ]:
trains

### Change the indexes but remember you have to wither change all or none

In [ ]:
df.index = ['first', 'second','third', 'four', 'firth', 'sixth']

In [ ]:
df

# Basic data structures in pandas
### Pandas provides two types of classes for handling data:

1. **Series**: a one-dimensional labeled array holding data of any type such as integers, strings, Python objects etc.

2. **DataFrame**: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

### Creating a Series

In [ ]:
ser = pd.Series(np.random.rand(7))

In [ ]:
ser, type(ser)

### Creating a DataFrame

In [ ]:
newdf = pd.DataFrame(np.random.rand(200, 5), index=np.arange(200))

In [ ]:
newdf

In [ ]:
type(newdf)

### To convert a dataframe into numpy arrays

In [ ]:
df.to_numpy()

## Attributes of DataFrame

In [ ]:
# for transpose
newdf.T

In [ ]:
# sort based on index in 2D array axis 0 -> x, axis 1 -> y 
newdf.sort_index(axis=1, ascending=False)

In [ ]:
newdf[0]

In [ ]:
# If we change something in view then its also changes in the main dataframe to avoid this use .copy() or newdf[:] 
# and it this chaned access has other issues thats why we use .loc[row, col] = value to update
newdf2 = newdf

In [ ]:
newdf2[0][0] = 10

In [ ]:
newdf2.columns = list("ABCDE")

In [ ]:
newdf2

In [ ]:
newdf2.loc[0, 'A'] = 1224

In [ ]:
newdf2

In [ ]:
# to get specific columns
newdf2.loc[:, ['A', 'C']]

In [ ]:
# we can also run db like complex queries using .loc
# newdf2.loc[(newdf2['A'] > 0.9)]
newdf2.loc[(newdf2['A'] > 0.9) & (newdf2['C'] < 0.1)]

In [ ]:
# if we just have to use indexing irrespective of the row and colums name use iloc
newdf.iloc[0,0]

| Feature         | `.loc[]`         | `.iloc[]`          | `.at[]`           | `.iat[]`          |
| --------------- | ---------------- | ------------------ | ----------------- | ----------------- |
| Access by       | Label            | Integer Position   | Label             | Integer Position  |
| Returns         | Series/DataFrame | Series/DataFrame   | Scalar            | Scalar            |
| Slice inclusive | Yes              | No                 | No                | No                |
| Best for        | General access   | Index-based access | Fast single value | Fast single value |

In [ ]:
# if we have to drop a row/column - be default axis is row
# Note: these thing doesn't change the original dataframe in this case newdf2 
newdf2.drop(1) # for row
newdf2.drop(['A', 'B'], axis=1) # for col

In [ ]:
# Some functions have an inplace attribute that manipulates the original dataframe insted of returing a copy 
newdf2.drop(['C', 'D'], axis=1, inplace=True)

In [ ]:
newdf2.head()

In [ ]:
newdf2.drop([1, 3, 4, 5], inplace=True)

In [ ]:
newdf2.head()

In [ ]:
# now the row indexing is not ordered to sovle this we can again reset the index but .reset_index will add a extra column
# at the start called index to remove this we set drop=True to drop the indexes column but retain the index
newdf2.reset_index()

In [ ]:
newdf2.reset_index(drop=True, inplace=True)

In [ ]:
# isnull telles whether something is null or not 
newdf2.loc[1:5, ['B']] = None
newdf2.isnull()

In [ ]:
# notnull telles whether something is !null or not 
newdf2.loc[1:5, ['B']] = None
newdf2.head().notnull()